<form [formGroup]="searchForm"
      (ngSubmit)="onSubmit()"
      class="search-form">
  <div class="form-group">
    <label for="keyword">Keyword</label>
    <input id="keyword"
           type="text"
           formControlName="keyword"
           placeholder="Enter keyword"
           class="form-control">
  </div>

  <div class="form-group">
    <label for="url">URL</label>
    <input id="url"
           type="text"
           formControlName="url"
           placeholder="Enter URL"
           class="form-control">
  </div>

  <div class="form-group">
    <label for="searchEngine">Choose Search Engine</label>
    <select id="searchEngine"
            formControlName="searchEngine"
            class="form-control">
      <option *ngFor="let searchEngine of searchEngines"
              [value]="searchEngine">
        {{searchEngine}}
      </option>
    </select>
  </div>

  <button type="submit"
          class="search-button">Search</button>
</form>
